body {
    background: rgb(0, 0, 0);

}
h1 {
    color:  aliceblue;
    font-size: 36px;
}

h2 {
    color: white;
    font-size: 28px;
}
p {
    color: white;
    font-size: 20px;
}

#imagem_bc_home {
    max-height: 200px;
    max-width: 200px;
    padding: 25px;
    margin: auto;
}