body {
    background: rgb(0, 0, 0);
    
}

p {
    color: white;
    font-size: 20px;
}

.imagem_bc_home {
    max-height: 100px;
    max-width: 120px;
    padding: 10px;
    min-height: auto;
    min-width: auto;
}

header {
    background: #474747;
    padding: 2px 0;
    position: relative;
    margin: auto;
}

.menu_home{
    position: relative;
    width: 900px;
    margin: 0 auto;
}

nav {
    position: absolute;
    right: 0;
    top: 20px;
}

nav li {
    display: inline;
    margin: 0 0 0 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}

nav a:hover {
    color: black;
}

.secao {
    padding: 50px 0 50px 0;
    justify-content: space-between;
    max-height: 300px;
    max-width: auto;
    display: flex;
    margin-left: 350px;
    margin-right: 350px;
}

.secao_mini_noticia {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 200px;
}

.foto_mini_noticia {
    position: relative;
    background-size: cover;
    margin-bottom: 1px;
    height: 200px;
    width: 350px;
    min-height: auto;
    min-width: auto;
}

.titulo_mini_noticia {
    margin-top: 1px;
    margin-bottom: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #ffffff;
    width: 350px;
}

.secao_mini_p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #ffffff;
    width: 350px;
    text-align: justify;
    margin-top: 10px;
}

.noticia_foto_tema {
    color: #ffffff;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0.1em 0.1em 0.2em black;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 10px;
}

.noticia {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    height: auto;
    width: 1200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.noticia p {
    text-align: justify;
}

.titulo_noticia {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #ffffff;
}

.data_noticia {
    margin-left: 10px;
}

.autor_noticia {
    font-size: 15px;
    margin-top: 0px;
}

.barra {
    margin-top: px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 15px;
}

.footer {
    position: fixed;
}