body {
    background: #fffffff4;
}

p {
    color: #000000;
    font-size: 20px;
}

.imagem_bc_home {
    max-height: 100px;
    max-width: 120px;
    padding: 10px;
    min-height: auto;
    min-width: auto;
}

.header_menu {
    background: #000000;
    padding: 2px 0;
    position: relative;
    margin: auto;
}

.menu_home{
    position: relative;
    width: 900px;
    margin: 0 auto;
}

nav {
    position: absolute;
    right: 0;
    top: 20px;
}

nav li {
    display: inline;
    margin: 0 0 0 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

nav a:hover {
    color: #252525;
}

.secao {
    padding: 50px 0 50px 0;
    justify-content: center;
    max-height: 300px;
    max-width: auto;
    display: flex;
    margin-left: 350px;
    margin-right: 350px;
}

.secao_mini_noticia {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 200px;
}

.secao_mini_noticia a {
    text-decoration: none;
}

.foto_mini_noticia {
    position: relative;
    background-size: cover;
    margin-bottom: 1px;
    height: 200px;
    width: 350px;
    min-height: auto;
    min-width: auto;
}

.titulo_mini_noticia {
    margin-top: 1px;
    margin-bottom: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #000000;
    width: 350px;
}

.secao_mini_p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #000000;
    width: 350px;
    text-align: justify;
    margin-top: 10px;
}

.noticia_foto_tema {
    color: #000000;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0.1em 0.1em 0.2em black;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 10px;
}

.noticia {
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    height: auto;
    width: 1200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.noticia p {
    text-align: justify;
}

.titulo_noticia {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #000000;
}

.data_noticia {
    margin-left: 10px;
}

.autor_noticia {
    font-size: 15px;
    margin-top: 0px;
}

.barra {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 15px;
}

.barra_sobre {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 15px;
}

.footer {
    position: relative;
    background: #000000 ;
    height: 150px;
    width: auto;
    padding: 2px 0;
    position: relative;
    margin: auto;
    margin-top: 15px;
}


/*Cadastro*/

.box_cad {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 900px;
    width: 800px;
    box-shadow: 10px 10px #252525;
}

.box_cad table {
    margin-left: auto;
    margin-right: auto;
}

.box_cad table tr td {
    padding-left: 10px;
    padding-right: 10px;
}

.box_cad h1 {
    font-size: 50px;
    letter-spacing: 2px;
    padding-top: 25px;
    text-align: center;
}

.box_cad p {
    color: #ffffff;
    margin-bottom: 3px;
    text-shadow: 3px 3px #252525;
    padding-bottom: 2px;
    text-align: center;
}

.nome_cad, .sobrenome_cad, .usuario_cad, .cpf_cad, .email_cad, .telefone_cad, .senha_cad, .confsenha_cad, .rua_cad, .num_cad, .bairro_cad, .cidade_cad, .cep_cad {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 15px;
    width: 250px;
    height: 20px;
    text-align: center;
}

.cad_button {
    text-align: center;
    color: #000000;
    background: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;
    padding-right: 30px;
    display: block;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 5px #252525;
    width: 250px;
    text-decoration: none;
}

.cad_button:hover {
    box-shadow: 0px 0px;
    background: #000000;
    color: #ffffff;
    border-color: #ffffff;
}

/*Login*/

.box_login {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    height: 500px;
    width: 800px;
    box-shadow: 10px 10px #252525;
}

.box_login h1 {
    font-size: 50px;
    letter-spacing: 2px;
    padding-top: 30px;
    text-align: center;
}

.box_login p {
    color: #ffffff;
    margin-bottom: 3px;
    text-shadow: 3px 3px #252525;
    padding-bottom: 2px;
    text-align: center;
}

.email_login ,.senha_login {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 15px;
    width: 250px;
    height: 20px;
    text-align: center;
}

/*Sobre*/
.box_sobre {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 1700px;
    width: 1200px;
}

.box_sobre p{
    color: #ffffff;
    margin-left: 60px;
}

.box_sobre img {
    margin-top: 40px;
    margin-left: 40px;
    max-width: 300px;
}

.texto_sobre {
    margin-top: 60px;
    margin-right: 60px;
    width: 770px;
    float: right;
    text-align: justify;
}

.texto_sobre_sobre {
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    margin-top: 60px;
    margin-right: 60px;
    text-align: justify;
}

/*Noticia*/

.box_noticia {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.img_noticia{
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 35px;
    width: 500px;
    float: left;
}

.texto_noticia{
    color: aliceblue;
    width: 1200px;
    margin-right: 70px;
}

.texto_noticia p{
    text-align: justify;
    font-size: 20px;
}

/*fale_conosco*/

.box_fac {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 700px;
    width: 800px;
    box-shadow: 10px 10px white;
}

.box_fac h1 {
    font-size: 50px;
    letter-spacing: 2px;
    padding-top: 20px;
    text-align: center;
}

.box_fac p {
    color: #ffffff;
    margin-bottom: 3px;
    text-shadow: 3px 3px #252525;
    padding-bottom: 2px;
    text-align: center;
}

.box_fac input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    padding-right: 25px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 15px;
}

.box_fac textarea {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 15px;
}

.box_fac button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;
    padding-right: 30px;
    display: flex;
    margin: 35px auto;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 15px;
    box-shadow: 3px 3px #000000;
}

.box_fac button a {
    color: #000000;
    text-decoration: none;
}

.mensagem {
    height: 100px;
    width: 300px;
}

.contato {
    padding-left: 140px;
}